.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.search {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px black solid;
  width: 23rem;
}

.outcome {
  margin-top: 2rem;
  border-radius: 8px;
  width: 50%;
  padding: 1rem;
  min-height: 60vh;
}

.outcome h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.search-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-img {
  width: 40rem;
  border-radius: 20px;
}

.recipe-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.recipe-container img {
  width: 10rem;
  border-radius: 10px;
  align-self: start;
}

.rec-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.short-desc {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: rgb(148, 100, 10);
  background-color: rgb(236, 227, 213);
  border-radius: 4px;
  padding: 1rem;
}

.short-desc:hover {
  background-color: rgb(229, 198, 147);
}

.short-desc h3 {
  font-size: 2rem;
  color: rgb(48, 48, 48);
}

.short-desc span {
  width: 50%;
  text-align: end;
}

.book {
  font-size: 2rem;
}

.long-desc {
  background-color: rgb(236, 227, 213);
  border-radius: 8px;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.long-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
}

.long-cont h4 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.long-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.long-actions button {
  font-size: 1.8rem;
  border: 1px solid rgb(148, 100, 10) !important;
  background-color: rgb(204, 182, 155) !important;
  color: rgb(48, 48, 48) !important;
  padding: 0.4rem;
  border-radius: 7px;
}

.long-actions button:hover {
  background-color: rgb(187, 169, 148) !important;
}

.ing-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.ing-content button {
  align-self: end;
}

.savedRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.savedRecipes h2 {
  margin-top: 2rem;
}

.slider {
  display: flex;
  align-items: stretch;
  border: 1px solid rgb(148, 100, 10);
  border-radius: 10px;
  height: 20.2rem;
}

.slick-list {
  width: 100rem;
}

.savedRecipes h2 {
  font-size: 2.9rem;
}

.slider-img {
  width: 20rem;
}

.slider-btn {
  font-size: 4rem;
  background-color: rgba(148, 148, 148, 0.658);
  border: none;
  border-radius: 10px 0 0 10px;
  padding-right: 0.7rem;
  color: rgb(148, 100, 10);
  cursor: pointer;
  transition: all 0.1s ease-in;
  height: 20rem;
}

.right {
  padding-right: 0;
  padding-left: 0.7rem;
  border-radius: 0 10px 10px 0;
}

.slider-btn:hover {
  background-color: rgba(97, 97, 97, 0.658);
}

.rec-form-cont h2 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

form {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
}

form input {
  width: 15rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.7rem;
}

form input[name="recipe-name"] {
  width: 20rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form textarea {
  padding: 1rem;
  width: 30rem;
  height: 20rem;
  resize: none;
  border-radius: 10px;
  border: 1px solid black;
}

.two-col-div {
  grid-column: span 2;
}

form button {
  margin-top: 1.5rem;
  border-radius: 10px !important;
  border: solid 2px rgb(148, 100, 10) !important;
  padding: 0.5rem;
}

form button:hover {
  background-color: rgba(161, 159, 159, 0.463) !important;
}

.ing-cont {
  display: flex;
  flex-direction: row;
  grid-column: span 2;
  gap: 0.4rem;
}
