.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.search {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px black solid;
  width: 23rem;
}

.outcome {
  margin-top: 2rem;
  border-radius: 8px;
  width: 50%;
  padding: 1rem;
}

.outcome h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.recipe-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.recipe-container img {
  width: 10rem;
  border-radius: 10px;
  align-self: start;
}

.rec-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.short-desc {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: rgb(148, 100, 10);
  background-color: rgb(236, 227, 213);
  border-radius: 4px;
  padding: 1rem;
}

.short-desc:hover {
  background-color: rgb(229, 198, 147);
}

.short-desc h3 {
  font-size: 2rem;
  color: rgb(48, 48, 48);
}

.short-desc span {
  width: 50%;
  text-align: end;
}

.book {
  font-size: 2rem;
}

.long-desc {
  background-color: rgb(236, 227, 213);
  border-radius: 8px;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.youtube-i {
  display: inline-block;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.long-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
}

.long-cont h4 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.ing-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.ing-content button {
  align-self: end;
}
